
  header {
    height: 80px; 
    background-color: hsl(201, 100%, 97%);
    box-shadow: 0 3px 3px 1px rgb(72,96,115,0.2);
  }
  @media screen and (max-width: 600px){
    h1 {
    font-size:26px !important;
    }
  }
  img {
    border-radius: 5px;
  }
  img.bordered {
    border: 20px solid rgb(72,96,115);
    border-radius: 40px;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-size: 100%, 100%;
    border-radius: 50%;
    background-image: none;
  }

  .carousel-control-next-icon:after
  {
    content: '>';
    font-size: 55px;
    color: white;
  }

  .carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: white;
  }
.wrapper {
    display: flex;
    width: 100%;
}
.side-bar-iframe {
  height:100vh; 
}
#content {
  width: calc(100% - 250px);
  min-height: 100vh;
  transition: all 0.3s;
  top:80px;
  right:0;
  position: absolute;
}
.padded {
  padding: 50px;
}
.margin-top {
  margin-top:15px; 
}
#content.active {
  width:100%;
}
p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
}
p.grey {
  color: #999;
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.fill-height {
  height:calc(100vh - 140px); 
}
.carousel-item-next {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.carousel-item img {
  padding:40px;
  border-radius: 40px;
  max-height:75%;
  width:100%;
  max-width:500px;
  align-self: center;
}
.carousel-item-prev {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.carousel-item.active {
  text-align: center;
  display: flex !important; 
  flex-direction: column;
  justify-content: center;
}
.center-inside {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.border-right {
  border-right: black solid 1px; 
}
.blue-banner {
  background-color: rgb(72,96,115);
  left:0;
  right:0;
  position: absolute;
  color:white;
}
.blue-back {
  background-color: rgb(72,96,115);
  color:white;
}
.white-banner {
  background-color: rgb(246, 250, 255);
  left:0;
  right:0;
  position: absolute;
}
.purple-banner {
  background-color:#7386D5;
  left:0;
  right:0;
  position: absolute;
  color:white;
}
.white-banner.padded {
  height:100%;
  padding:100px; 
}
.beige-back {
  background-color: rgb(228, 220, 212);
  color: rgb(49, 69, 85); 
}
.blue-banner p {
  color:#fff;
}
.purple-banner p {
  color:#fff;
}
.banner-holder {
  height:380px;
  position: relative;
}
.container {
}
.big-ole-circle {
  margin:10px; 
  display:flex;
 
}
.big-ole-circle .rounded-circle{
  display: flex;
  flex-direction: column;  
  height:40vh;
  width:40vh;
  color:white;
}

.icon-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active-footer {
  background-color: #47748b;
}
.head-title {
  padding-top:8px; 
  height:10vh;
}
footer {

}
.storiesWrapper {
  max-width: 600px;
}
.stories.carousel {
  height:20vh;
}
.stories.carousel .story {
  max-width:200px !important;
}
.stories.snapssenger.carousel .story > .item-link {
  height:100% !important; 
  max-height:200px !important;
}
.stories.carousel .story>.item-link>.item-preview {
  /*max-height:100% !important; */
}